<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lee Morgan</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
</head>
<body>
    <div class="menu">
        <a id="header" href="/">Lee Morgan</a>
        <a class="menu-item" href="/bio">Bio</a>
        <a class="menu-item" href="/resume">Resume</a>
        <a class="menu-item" href="/efl">EFL</a>
    </div>