<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lee Morgan</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    <div class="menu">
        <div id="header" href="/">Lee Morgan</div>
        <a class="menu-item" href="/bio">Bio</a>
    </div>