<div class="menu">
    <a id="header" href="/">Lee Morgan</a>
    <a class="menu-item" href="/bio">Bio</a>
    <a class="menu-item" href="/resume">Resume</a>
    <a class="menu-item" href="/jeopardy">EFL</a>
</div>