<%- include partials/header.ejs %>

<div class="container">
    <div class="text">
        <h1>Current Work: (Early 2019)</h1>
        <p>Lee Morgan is currently in Russia (Yugra State University) teaching English as a foreign language. Lee has discovered a passion for teaching English which has matched his passion for computer programming.</p>
        <p>For the past several months Lee has found that teaching English to Russian speaking students is a challenge that comes with many rewards. Computer programming and teaching a foreign language may seem to be two entirely different vocations but Lee thinks otherwise. That is why he has melded his interest in both by creating computer games and tools that aid English-learning students.</p>

        <h1>Past Work: (pre-2019)</h1>
        <p>Lee spent 5 years serving as an infantryman in the United States Marines (June 2008-December 2012). During that time he completed 2 tours of duty in Afghanistan. During those tours he took part in Operation Strike of the Sword in 2009 and various military operations in Helmand Province in 2011. In December 2012 Lee left the Marines with an honorable discharge.</p>
        <p>After the Marines Lee began working with computers. Although he taught himself much about computer systems and hardware it became apparent that the challenge of building programs with various programming languages was where his real interest lay.</p>
        <p>He began by learning C# and game programming in the Unity 3D game engine. He also began to learn other languages such as C++, Java, Haskell, Python, and others. As with many fields of interest Lee soon realized that in order to become proficient he must focus his energies on one language. JavaScript became his language of choice. Since then he has begun to work in website development and engineering.</p>
        <p>A related venture in programming has led Lee to hone his math and computer skills via the Euler Project. The Euler Project is a worldwide mathematical challenge for programmers. It has a hierarchy of math/programming projects that test even the very best and experienced programmers in the world.</p>
        <p>Whether it is military history, Ancient Roman history, mathematics, physics, or the Euler Project, Lee is ever on the lookout for new and exciting things to learn. That curiosity and interest led him to the study of Russian. His studies eventually materialized into travels to Ukraine and Russia. The experience and knowledge he has gained from his travels and the teaching of English has proven to be invaluable.</p>

        <h1>Personal Vitae</h1>
        <p>Lee Morgan was born in Dover-Foxcroft, Maine in 1990. He is the son of Ike and Lisa Morgan and has an older sister, Lindy. He lived in the Dexter, Maine area and is a 2008 graduate of Dexter Regional High School where was a member of the wrestling team for 4 years. During those 4 years he achieved the 100-win plateau as well as winning a state title in his senior year.</p>
    </div>
</div>
<%- include partials/footer.ejs %>
