<% include partials/header %>

<div class="efl-container">
    <div class="efl-item">
        <h1>JEOPARDY!</h1>
        <a href="/jeopardy"><img src="https://i.postimg.cc/sXb69Jbs/jeopardy.jpg" alt="JEOPARDY!"></a>
    </div>
</div>
</body>
</html>
