
<% include partials/header %>

<div class="efl-container">
    <div class="efl-item">
        <h1> MY PROJECTS </h1>
        <!-- <a href="/jeopardy"><img src="https://i.postimg.cc/sXb69Jbs/jeopardy.jpg" alt="JEOPARDY!"></a> -->
    </div>
</div>    

<div class="content">
    <div class="content-image"> 
    	<div id="button" a href="/jeopardy"> START </div> 
    	<div class="content-image-backplate"></div>
	</div>
    	
    <div class="content-description"> 
    	<div class="content-tittle"> Jeopardy Game </div>
    	<p> Jeopardy! is an American television game show created by Merv Griffin. The show features a quiz competition in which contestants are presented with general knowledge clues in the form of answers, and must phrase their responses in the form of questions. The original daytime version debuted on NBC on March 30, 1964, and aired until January 3, 1975. A weekly nighttime syndicated edition aired from September 1974 to September 1975, and a revival, The All-New Jeopardy!, ran on NBC from October 1978 to March 1979. The current version, a daily syndicated show produced by Sony Pictures Television, premiered on September 10, 1984.</p>
    </div>	
</div>

<div class="content">
    <div class="content-image"> 
    	<button id="button" onclick="startBtn('button')"> START </button>
    	<div class="content-image-backplate"></div>
	</div>
    	
    <div class="content-description"> 
    	<div class="content-tittle"> Jeopardy Game </div>
    	<p> Jeopardy! is an American television game show created by Merv Griffin. The show features a quiz competition in which contestants are presented with general knowledge clues in the form of answers, and must phrase their responses in the form of questions. The original daytime version debuted on NBC on March 30, 1964, and aired until January 3, 1975. A weekly nighttime syndicated edition aired from September 1974 to September 1975, and a revival, The All-New Jeopardy!, ran on NBC from October 1978 to March 1979. The current version, a daily syndicated show produced by Sony Pictures Television, premiered on September 10, 1984.</p>
    </div>	
</div>

<div class="content">
    <div class="content-image"> 
    	<button id="button" onclick="startBtn('button')"> START </button>
    	<div class="content-image-backplate"></div>
	</div>
    	
    <div class="content-description"> 
    	<div class="content-tittle"> Jeopardy Game </div>
    	<p> Jeopardy! is an American television game show created by Merv Griffin. The show features a quiz competition in which contestants are presented with general knowledge clues in the form of answers, and must phrase their responses in the form of questions. The original daytime version debuted on NBC on March 30, 1964, and aired until January 3, 1975. A weekly nighttime syndicated edition aired from September 1974 to September 1975, and a revival, The All-New Jeopardy!, ran on NBC from October 1978 to March 1979. The current version, a daily syndicated show produced by Sony Pictures Television, premiered on September 10, 1984.</p>
    </div>	
</div>

</div>
</body>
</html>