

<html>

<head>
    <meta charset="utf-8">
    <title> Lets Play JEOPARDY Game </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jeopardy.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
    <div class="menu">
        <a class="menu-item" href="/">&larr; Return</a>
        <div id="howto-btn" class="menu-item">How To</div>
    </div>

  <div class="tittle">  Lets Play JEOPARDY Game </div>
  
    <div class="container">
      <div class="img">
        
          <button id="button" onclick="startBtn('button')"> START </button>
         
<table>
            <tr class="header table-row">
                <% topics.forEach(function(topic){ %>
                    <th><%= topic.title.toUpperCase(); %></th>
                <% }); %>
            </tr>
            <tr class="spacer"></tr>
            <tr class="table-row">
                <% topics.forEach(function (topic){ %>
                    <td>$200</td>
                <% }); %>
            </tr>
            <tr class="table-row">
                <% topics.forEach(function (topic){ %>
                    <td>$400</td>
                <% }); %>
            </tr>
            <tr class="table-row">
                <% topics.forEach(function (topic){ %>
                    <td>$600</td>
                <% }); %>
            <tr class="table-row">
                <% topics.forEach(function (topic){ %>
                    <td>$800</td>
                <% }); %>
            <tr class="table-row">
                <% topics.forEach(function (topic){ %>
                    <td>$1000</td>
                <% }); %>
            </tr>
</table>

    </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <p></p>
        </div>
    </div>

    <div class="howto-modal">
        <div class="howto-modal-content">
            <h1>How To Play</h1><h1>
            <ul>
                <li>Every time you load the page a random set of topics and questions will be generated.  If you find that you have two of the same topic on a page, simply reload the page.</li>
                <li>Click on a category to reveal the question.  Click on the page again to reveal the answer.  Click one more time to go back to the board.</li>
                <li>Scoring and general gameplay is open for you to do however you see fit.</li>
            </ul>
            </h1><h1>Suggestions</h1>
            <ul>
                <li>Unless you have "buzzers" to determine who rang in first, have one team/person answer questions until they get one wrong, then move on to the next team/person.  This helps prevent the chaos of people yelling over each other and not knowing who was first.</li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        
        var topics = <%- JSON.stringify(topics) %>
        var choices = document.querySelectorAll(".table-row td");
        var modal = document.querySelector(".modal");
        var modalContent = document.querySelector(".modal-content p");
        var howToBtn = document.querySelector("#howto-btn");

        
        var howToModal = document.querySelector(".howto-modal");

        //Assign rows and columns to each box
        var count = 0;
        for(var i = 0; i < 5; i++){
            for(var j = 0; j < 6; j++){
                choices[count].row = i;
                choices[count].column = j;
                count++;
            }
        }

        //Add event listeners for each box
        choices.forEach(function(choice){
            choice.addEventListener("click", buttonClick);
        });

        //The button event
        function buttonClick(){
            currentTopic = topics[this.column];
            currentQuestion = currentTopic.questions[this.row];
            
            modalContent.innerHTML = (currentQuestion.question).toUpperCase();
            modal.style.visibility = "visible";

            this.innerHTML = "";
            this.style.cursor = "default";
            this.removeEventListener("click", buttonClick);
        }
            
        //Add modal behavior
        var showingQuestion = true;
        modal.addEventListener("click", function(){
            if(showingQuestion){
                modalContent.innerHTML = (currentQuestion.answer).toUpperCase();
                showingQuestion = false;
            }else{
                modal.style.visibility = "hidden";
                showingQuestion = true;
            }
        });
           
        //Add event listener for How To
        howToBtn.addEventListener("click", function(){
            howToModal.style.visibility = "visible";
        });

        //Add event listener to remove modal on click
        howToModal.addEventListener("click", () => {
            howToModal.style.visibility = "hidden";
        });
        
      // The start button

    function startBtn( btn ) {

        var modalBtn = document.querySelector("#button");
        var container = document.querySelector(".container");
        var tableGame = document.querySelector("table");
        var body = document.querySelector("body");
        var gameTittle = document.querySelector(".tittle");
 
        modalBtn.style.visibility = "hidden";
        container.style.borderColor = "rgba(224, 234, 224, 0.8)";
        container.style.backgroundColor = "#21522496";
        tableGame.style.filter = "opacity(70)";
        tableGame.style.pointerEvents = "all";
        body.style.backgroundImage = "url(https://i.postimg.cc/k4fxhKzF/craps-big-background.jpg)";
        gameTittle.innerHTML = "JEOPARDY GAME";
        gameTittle.style.color = "white";

       console.log(tableGame);
       console.log(btn);
       console.log('hello');
      }
      
      
      
    </script>

</body></html>