<!DOCTYPE html>
<html>
<head>
<title>Lee Morgan - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/menu.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/resume.css">

<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
    <div class="menu">
        <a id="header" href="/">Lee Morgan</a>
        <a class="menu-item" href="/bio">Bio</a>
        <a class="menu-item" href="/resume">Resume</a>
    </div>

    <div id="cv">
        <div class="mainDetails">
            <div id="headshot">
                <img src="https://i.postimg.cc/yNGSJ5HS/headshot.jpg" alt="Lee Morgan" />
            </div>
            
            <div id="name">
                <h1>Lee Morgan</h1>
                <h2>English Teacher/Web Developer</h2>
            </div>
            
            <div id="contactDetails">
                <ul>
                    <li>Email: <a href="mailto:morgan.leer@protonmail.com" target="_blank">Morgan.LeeR@protonmail.com</a></li>
                    <li>GitHub:  <a href="https://github.com/MorganLee909" target="_blank">MorganLee909</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        
        <div id="mainArea">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>
                    
                    <div class="sectionContent">
                        <p>Experience teaching English as a foreign language.    Experience, not only teaching, but learning foreign languages.  Programmer with a special interest in web development.   Years of leadership experience gained from service in the United States Marine Corps.</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>
            
            
            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>
                
                <div class="sectionContent">
                    <article class="">
                        <h2>English Teacher</h2>
                        <h3>Yugra State University</h3>
                        <h4>Khanty-Mansiysk, Khanty-Mansi Autonomous Okrug, Russia</h4>
                        <p class="subDetails">January 2019 - Present</p>
                        <ul>
                            <li>Organized a lesson plan for the semester in order to meet all goals of the class</li>
                            <li>Created the day to day lesson plans in keeping with the lesson plan</li>
                            <li>Taught English lessons to young adults in both group settings and individual</li>
                            <li>Organized plans for speaking clubs for the general public which occurred every week</li>
                        </ul>
                    </article>
                    
                    <article>
                        <h2>English Teacher</h2>
                        <h3>Vishenki English School</h3>
                        <h4>Vishenki, Kiev Oblast, Ukraine</h4>
                        <p class="subDetails">August 2018 - December 2018</p>
                        <ul>
                            <li>Created day to day lesson plans to meet the needs of the students</li>
                            <li>Worked with young children in order to enhance their English reading, writing and speaking abilities</li>
                            <li>Gave beginner lessons in computer programming (in English) to interested students</li>
                            <li>Organized and created speaking clubs on English to further aide the students in learning English</li>
                            <li>Organized games and other activities to keep small children interested in learning and English</li>
                        </ul>
                    </article>

                    <article>
                        <h2>Security Officer</h2>
                        <h3>Securitas</h3>
                        <p class="subDetails">August 2014 - July 2018</p>
                        <ul>
                            <li>Maintained security of </li>
                        </ul>
                    </article>
                    
                    <article>
                        <h2>Infantry Rifleman</h2>
                        <p class="subDetails">May 2008 - December 2012</p>
                        <ul>
                            <li>Training in small unit tactics</li>
                            <li>Leadership experience as both a team leader and a squad leader</li>
                            <li>Two tours of duty in Afghanistan</li>
                            <li>Took part in various training exercises and courses to improve leadership</li>
                            <li>Received several unit awards</li>
                        </ul>
                    </article>
                </div>
                <div class="clear"></div>
            </section>
            
            
            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>
                
                <div class="sectionContent">
                    <ul class="keySkills">
                        <li><span>JavaScript:</span>  Knowledge of most aspects of the language and an understanding of how the language works under the hood</li>
                        <li><span>Node.js:</span>  Understanding of Node.js and how it works.  Experience working with Node.js as both a website backend and as a command line tool</li>
                        <li><span>Problem Solving:</span>  Ability to solve nearly any problem.  If I don't know how to do something, I can figure it out.</li>
                        <li><span>Leadership:</span>  Proven leadership abilities, often in high stress situations</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            
            
            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>
                
                <div class="sectionContent">
                    <article>
                        <h2>Coastal Carolina University</h2>
                        <h3>Computer Science</h3>
                        <p class="subDetails">82 credit hours</p>
                        <p>Studied computer science at Coastal Carolina University.  Learning about both low and high level languages as well    as algorithms and computer architecture</p>
                    </article>
                    
                    <article>
                        <h2><a href="https://github.com/ossu/computer-science">Open Source Society University</a></h2>
                        <p>Currently working to complete the OSSU collection of courses.  This is part of my never-ending quest for knowledge.  I enjoy self-learning and always strive to improve my skill set.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1>Interests</h1>
                </div>
                
                <div class="sectionContent">
                    <ul>
                        <li><a href="https://projecteuler.net/">Project Euler</a></li>
                        <li>Language learning</li>
                        <li>Website development</li>
                        <li>Writing algorithms</li>
                        <li>Self-learning</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1>Languages</h1>
                </div>
                
                <div class="sectionContent">
                    <ul>
                        <li>English:  Native</li>
                        <li>Russian:  Upper-Intermediate</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            
        </div>
    </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>