body{
    margin: 0;
}

/* BIO */
.bio-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.bio-text{
    max-width: 1250px;
    border: 1px solid black;
    padding: 50px;
    background-color: #f3f3f3;
    box-shadow: -10px 10px 5px 0px rgb(131, 131, 131);
}

.bio-text h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.bio-text p{
    text-align: justify;
    font-size: 22px;
    margin-bottom: 20px;
}

/* EFL */
.efl-container{
    display: flex;
    justify-content: center;
}

.efl-item a img{
    max-width: 500px;
    max-height: 500px;
    box-shadow: -10px 10px 5px 0px rgb(131, 131, 131);
}

.efl-item h1{
    text-align: center;
}