body{
    margin: 0;
}

/* BIO */
.text{
    margin: 50px;
}

.text h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.text p{
    text-align: justify;
    font-size: 22px;
    margin-bottom: 20px;
}

/* MENU */
.menu{
    width: 100%;
    background-color: black;
    height: 75px;
    display: flex;
    cursor: pointer;
}

#header{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 135px;
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.menu-item{
    margin: 10px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 125px;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.menu-item:hover{
    background-color: rgb(109, 109, 109);
    cursor: pointer;
}